<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ognice.dao.CommentMapper">
	<resultMap id="BaseResultMap" type="com.ognice.domain.Comment">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="projectid" property="projectid" jdbcType="INTEGER" />
		<result column="projectname" property="projectname" jdbcType="VARCHAR" />
		<result column="comment" property="comment" jdbcType="VARCHAR" />
		<result column="created" property="created" jdbcType="TIMESTAMP" />
		<result column="preuserid" property="preuserid" jdbcType="INTEGER" />
		<result column="preusername" property="preusername" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="oid" property="oid" jdbcType="INTEGER" />
		<result column="oname" property="oname" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		`id`
		,
		`projectid`
		,
		`projectname`
		,
		`comment`
		,
		`created`
		,
		`preuserid`
		,
		`preusername`
		,
		`type`
		,
		`oid`
		,
		`oname`
		
	</sql>
	<select id="selectCommentById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from `comment` where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="page" parameterType="com.ognice.controller.common.PageSearchParam" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from `comment` where 1=1
		<if test="params!=null">
		<if test="params.id !=null ">
		AND `id` = #{params.id}
		</if>
		<if test="params.projectid !=null ">
		AND `projectid` = #{params.projectid}
		</if>
		<if test="params.projectname !=null and params.projectname!=''">
		 AND `projectname` like concat('%',#{params.projectname},'%')
		</if>
		<if test="params.comment !=null and params.comment!=''">
		 AND `comment` like concat('%',#{params.comment},'%')
		</if>
		<if test="params.created !=null ">
		AND `created` = #{params.created}
		</if>
		<if test="params.preuserid !=null ">
		AND `preuserid` = #{params.preuserid}
		</if>
		<if test="params.preusername !=null and params.preusername!=''">
		 AND `preusername` like concat('%',#{params.preusername},'%')
		</if>
		<if test="params.type !=null ">
		AND `type` = #{params.type}
		</if>
		<if test="params.oid !=null ">
		AND `oid` = #{params.oid}
		</if>
		<if test="params.oname !=null and params.oname!=''">
		 AND `oname` like concat('%',#{params.oname},'%')
		</if>
		</if>
		order by id desc
		<if test="page!=null"> limit #{page},#{pagesize}
		</if>
	</select>

	<delete id="delete" parameterType="java.lang.Integer"> delete from `comment` where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" useGeneratedKeys="true" keyProperty="id"  parameterType="com.ognice.domain.Comment"> insert into `comment` (
		`id`
				,
		`projectid`
				,
		`projectname`
				,
		`comment`
				,
		`created`
				,
		`preuserid`
				,
		`preusername`
				,
		`type`
				,
		`oid`
				,
		`oname`
				
	) values (
		#{id,jdbcType=INTEGER}
				,
		#{projectid,jdbcType=INTEGER}
				,
		#{projectname,jdbcType=VARCHAR}
				,
		#{comment,jdbcType=VARCHAR}
				,
		#{created,jdbcType=TIMESTAMP}
				,
		#{preuserid,jdbcType=INTEGER}
				,
		#{preusername,jdbcType=VARCHAR}
				,
		#{type,jdbcType=INTEGER}
				,
		#{oid,jdbcType=INTEGER}
				,
		#{oname,jdbcType=VARCHAR}
				
	)
	</insert>

	<update id="update" parameterType="com.ognice.domain.Comment">
		update `comment`
		<set>
		<if test="id != null and id!=''">
		`id`= #{id,jdbcType=INTEGER},
		</if>
		<if test="projectid != null and projectid!=''">
		`projectid`= #{projectid,jdbcType=INTEGER},
		</if>
		<if test="projectname != null and projectname!=''">
		`projectname`= #{projectname,jdbcType=VARCHAR},
		</if>
		<if test="comment != null and comment!=''">
		`comment`= #{comment,jdbcType=VARCHAR},
		</if>
		<if test="created != null and created!=''">
		`created`= #{created,jdbcType=TIMESTAMP},
		</if>
		<if test="preuserid != null and preuserid!=''">
		`preuserid`= #{preuserid,jdbcType=INTEGER},
		</if>
		<if test="preusername != null and preusername!=''">
		`preusername`= #{preusername,jdbcType=VARCHAR},
		</if>
		<if test="type != null and type!=''">
		`type`= #{type,jdbcType=INTEGER},
		</if>
		<if test="oid != null and oid!=''">
		`oid`= #{oid,jdbcType=INTEGER},
		</if>
		<if test="oname != null and oname!=''">
		`oname`= #{oname,jdbcType=VARCHAR},
		</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

</mapper>