<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ognice.dao.MidapplyMapper">
	<resultMap id="BaseResultMap" type="com.ognice.domain.Midapply">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="projectid" property="projectid" jdbcType="INTEGER" />
		<result column="projectname" property="projectname" jdbcType="VARCHAR" />
		<result column="pronum" property="pronum" jdbcType="VARCHAR" />
		<result column="protype" property="protype" jdbcType="VARCHAR" />
		<result column="prolevel" property="prolevel" jdbcType="VARCHAR" />
		<result column="applycrew" property="applycrew" jdbcType="VARCHAR" />
		<result column="preuserid" property="preuserid" jdbcType="INTEGER" />
		<result column="preusername" property="preusername" jdbcType="VARCHAR" />
		<result column="promeb" property="promeb" jdbcType="VARCHAR" />
		<result column="teaid" property="teaid" jdbcType="INTEGER" />
		<result column="teaname" property="teaname" jdbcType="VARCHAR" />
		<result column="amount" property="amount" jdbcType="VARCHAR" />
		<result column="starttime" property="starttime" jdbcType="VARCHAR" />
		<result column="endtime" property="endtime" jdbcType="VARCHAR" />
		<result column="created" property="created" jdbcType="VARCHAR" />
		<result column="main" property="main" jdbcType="VARCHAR" />
		<result column="change" property="change" jdbcType="VARCHAR" />
		<result column="ontime" property="ontime" jdbcType="VARCHAR" />
		<result column="next" property="next" jdbcType="VARCHAR" />
		<result column="recomment" property="recomment" jdbcType="VARCHAR" />
		<result column="teacoment" property="teacoment" jdbcType="VARCHAR" />
		<result column="procoment" property="procoment" jdbcType="VARCHAR" />
		<result column="schoolcoment" property="schoolcoment" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		`id`
		,
		`projectid`
		,
		`projectname`
		,
		`pronum`
		,
		`protype`
		,
		`prolevel`
		,
		`applycrew`
		,
		`preuserid`
		,
		`preusername`
		,
		`promeb`
		,
		`teaid`
		,
		`teaname`
		,
		`amount`
		,
		`starttime`
		,
		`endtime`
		,
		`created`
		,
		`main`
		,
		`change`
		,
		`ontime`
		,
		`next`
		,
		`recomment`
		,
		`teacoment`
		,
		`procoment`
		,
		`schoolcoment`
		
	</sql>
	<select id="selectMidapplyById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from `midapply` where id = #{id,jdbcType=INTEGER}
	</select>
    <select id="selectMidapplyByProId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List" />
        from `midapply` where projectid = #{id,jdbcType=INTEGER}
    </select>
	<select id="page" parameterType="com.ognice.controller.common.PageSearchParam" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from `midapply` where 1=1
		<if test="params!=null">
		<if test="params.id !=null ">
		AND `id` = #{params.id}
		</if>
		<if test="params.projectid !=null ">
		AND `projectid` = #{params.projectid}
		</if>
		<if test="params.projectname !=null and params.projectname!=''">
		 AND `projectname` like concat('%',#{params.projectname},'%')
		</if>
		<if test="params.pronum !=null and params.pronum!=''">
		 AND `pronum` like concat('%',#{params.pronum},'%')
		</if>
		<if test="params.protype !=null and params.protype!=''">
		 AND `protype` like concat('%',#{params.protype},'%')
		</if>
		<if test="params.prolevel !=null and params.prolevel!=''">
		 AND `prolevel` like concat('%',#{params.prolevel},'%')
		</if>
		<if test="params.applycrew !=null and params.applycrew!=''">
		 AND `applycrew` like concat('%',#{params.applycrew},'%')
		</if>
		<if test="params.preuserid !=null ">
		AND `preuserid` = #{params.preuserid}
		</if>
		<if test="params.preusername !=null and params.preusername!=''">
		 AND `preusername` like concat('%',#{params.preusername},'%')
		</if>
		<if test="params.promeb !=null and params.promeb!=''">
		 AND `promeb` like concat('%',#{params.promeb},'%')
		</if>
		<if test="params.teaid !=null ">
		AND `teaid` = #{params.teaid}
		</if>
		<if test="params.teaname !=null and params.teaname!=''">
		 AND `teaname` like concat('%',#{params.teaname},'%')
		</if>
		<if test="params.amount !=null and params.amount!=''">
		 AND `amount` like concat('%',#{params.amount},'%')
		</if>
		<if test="params.starttime !=null and params.starttime!=''">
		 AND `starttime` like concat('%',#{params.starttime},'%')
		</if>
		<if test="params.endtime !=null and params.endtime!=''">
		 AND `endtime` like concat('%',#{params.endtime},'%')
		</if>
		<if test="params.created !=null and params.created!=''">
		 AND `created` like concat('%',#{params.created},'%')
		</if>
		<if test="params.main !=null and params.main!=''">
		 AND `main` like concat('%',#{params.main},'%')
		</if>
		<if test="params.change !=null and params.change!=''">
		 AND `change` like concat('%',#{params.change},'%')
		</if>
		<if test="params.ontime !=null and params.ontime!=''">
		 AND `ontime` like concat('%',#{params.ontime},'%')
		</if>
		<if test="params.next !=null and params.next!=''">
		 AND `next` like concat('%',#{params.next},'%')
		</if>
		<if test="params.recomment !=null and params.recomment!=''">
		 AND `recomment` like concat('%',#{params.recomment},'%')
		</if>
		<if test="params.teacoment !=null and params.teacoment!=''">
		 AND `teacoment` like concat('%',#{params.teacoment},'%')
		</if>
		<if test="params.procoment !=null and params.procoment!=''">
		 AND `procoment` like concat('%',#{params.procoment},'%')
		</if>
		<if test="params.schoolcoment !=null and params.schoolcoment!=''">
		 AND `schoolcoment` like concat('%',#{params.schoolcoment},'%')
		</if>
		</if>
		order by id desc
		<if test="page!=null"> limit #{page},#{pagesize}
		</if>
	</select>

	<delete id="delete" parameterType="java.lang.Integer"> delete from `midapply` where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" useGeneratedKeys="true" keyProperty="id"  parameterType="com.ognice.domain.Midapply"> insert into `midapply` (
		`id`
				,
		`projectid`
				,
		`projectname`
				,
		`pronum`
				,
		`protype`
				,
		`prolevel`
				,
		`applycrew`
				,
		`preuserid`
				,
		`preusername`
				,
		`promeb`
				,
		`teaid`
				,
		`teaname`
				,
		`amount`
				,
		`starttime`
				,
		`endtime`
				,
		`created`
				,
		`main`
				,
		`change`
				,
		`ontime`
				,
		`next`
				,
		`recomment`
				,
		`teacoment`
				,
		`procoment`
				,
		`schoolcoment`
				
	) values (
		#{id,jdbcType=INTEGER}
				,
		#{projectid,jdbcType=INTEGER}
				,
		#{projectname,jdbcType=VARCHAR}
				,
		#{pronum,jdbcType=VARCHAR}
				,
		#{protype,jdbcType=VARCHAR}
				,
		#{prolevel,jdbcType=VARCHAR}
				,
		#{applycrew,jdbcType=VARCHAR}
				,
		#{preuserid,jdbcType=INTEGER}
				,
		#{preusername,jdbcType=VARCHAR}
				,
		#{promeb,jdbcType=VARCHAR}
				,
		#{teaid,jdbcType=INTEGER}
				,
		#{teaname,jdbcType=VARCHAR}
				,
		#{amount,jdbcType=VARCHAR}
				,
		#{starttime,jdbcType=VARCHAR}
				,
		#{endtime,jdbcType=VARCHAR}
				,
		#{created,jdbcType=VARCHAR}
				,
		#{main,jdbcType=VARCHAR}
				,
		#{change,jdbcType=VARCHAR}
				,
		#{ontime,jdbcType=VARCHAR}
				,
		#{next,jdbcType=VARCHAR}
				,
		#{recomment,jdbcType=VARCHAR}
				,
		#{teacoment,jdbcType=VARCHAR}
				,
		#{procoment,jdbcType=VARCHAR}
				,
		#{schoolcoment,jdbcType=VARCHAR}
				
	)
	</insert>

	<update id="update" parameterType="com.ognice.domain.Midapply">
		update `midapply`
		<set>
		<if test="id != null and id!=''">
		`id`= #{id,jdbcType=INTEGER},
		</if>
		<if test="projectid != null and projectid!=''">
		`projectid`= #{projectid,jdbcType=INTEGER},
		</if>
		<if test="projectname != null and projectname!=''">
		`projectname`= #{projectname,jdbcType=VARCHAR},
		</if>
		<if test="pronum != null and pronum!=''">
		`pronum`= #{pronum,jdbcType=VARCHAR},
		</if>
		<if test="protype != null and protype!=''">
		`protype`= #{protype,jdbcType=VARCHAR},
		</if>
		<if test="prolevel != null and prolevel!=''">
		`prolevel`= #{prolevel,jdbcType=VARCHAR},
		</if>
		<if test="applycrew != null and applycrew!=''">
		`applycrew`= #{applycrew,jdbcType=VARCHAR},
		</if>
		<if test="preuserid != null and preuserid!=''">
		`preuserid`= #{preuserid,jdbcType=INTEGER},
		</if>
		<if test="preusername != null and preusername!=''">
		`preusername`= #{preusername,jdbcType=VARCHAR},
		</if>
		<if test="promeb != null and promeb!=''">
		`promeb`= #{promeb,jdbcType=VARCHAR},
		</if>
		<if test="teaid != null and teaid!=''">
		`teaid`= #{teaid,jdbcType=INTEGER},
		</if>
		<if test="teaname != null and teaname!=''">
		`teaname`= #{teaname,jdbcType=VARCHAR},
		</if>
		<if test="amount != null and amount!=''">
		`amount`= #{amount,jdbcType=VARCHAR},
		</if>
		<if test="starttime != null and starttime!=''">
		`starttime`= #{starttime,jdbcType=VARCHAR},
		</if>
		<if test="endtime != null and endtime!=''">
		`endtime`= #{endtime,jdbcType=VARCHAR},
		</if>
		<if test="created != null and created!=''">
		`created`= #{created,jdbcType=VARCHAR},
		</if>
		<if test="main != null and main!=''">
		`main`= #{main,jdbcType=VARCHAR},
		</if>
		<if test="change != null and change!=''">
		`change`= #{change,jdbcType=VARCHAR},
		</if>
		<if test="ontime != null and ontime!=''">
		`ontime`= #{ontime,jdbcType=VARCHAR},
		</if>
		<if test="next != null and next!=''">
		`next`= #{next,jdbcType=VARCHAR},
		</if>
		<if test="recomment != null and recomment!=''">
		`recomment`= #{recomment,jdbcType=VARCHAR},
		</if>
		<if test="teacoment != null and teacoment!=''">
		`teacoment`= #{teacoment,jdbcType=VARCHAR},
		</if>
		<if test="procoment != null and procoment!=''">
		`procoment`= #{procoment,jdbcType=VARCHAR},
		</if>
		<if test="schoolcoment != null and schoolcoment!=''">
		`schoolcoment`= #{schoolcoment,jdbcType=VARCHAR},
		</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

</mapper>