<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ognice.dao.ScorelogMapper">
	<resultMap id="BaseResultMap" type="com.ognice.domain.Scorelog">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="projectid" property="projectid" jdbcType="INTEGER" />
		<result column="projectname" property="projectname" jdbcType="VARCHAR" />
		<result column="score" property="score" jdbcType="VARCHAR" />
		<result column="preuserid" property="preuserid" jdbcType="INTEGER" />
		<result column="preusername" property="preusername" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		`id`
		,
		`projectid`
		,
		`projectname`
		,
		`score`
		,
		`preuserid`
		,
		`preusername`
		
	</sql>
	<select id="selectScorelogById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from `scorelog` where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="page" parameterType="com.ognice.controller.common.PageSearchParam" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from `scorelog` where 1=1
		<if test="params!=null">
		<if test="params.id !=null ">
		AND `id` = #{params.id}
		</if>
		<if test="params.projectid !=null ">
		AND `projectid` = #{params.projectid}
		</if>
		<if test="params.projectname !=null and params.projectname!=''">
		 AND `projectname` like concat('%',#{params.projectname},'%')
		</if>
		<if test="params.score !=null and params.score!=''">
		 AND `score` like concat('%',#{params.score},'%')
		</if>
		<if test="params.preuserid !=null ">
		AND `preuserid` = #{params.preuserid}
		</if>
		<if test="params.preusername !=null and params.preusername!=''">
		 AND `preusername` like concat('%',#{params.preusername},'%')
		</if>
		</if>
		order by id desc
		<if test="page!=null"> limit #{page},#{pagesize}
		</if>
	</select>

	<delete id="delete" parameterType="java.lang.Integer"> delete from `scorelog` where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" useGeneratedKeys="true" keyProperty="id"  parameterType="com.ognice.domain.Scorelog"> insert into `scorelog` (
		`id`
				,
		`projectid`
				,
		`projectname`
				,
		`score`
				,
		`preuserid`
				,
		`preusername`
				
	) values (
		#{id,jdbcType=INTEGER}
				,
		#{projectid,jdbcType=INTEGER}
				,
		#{projectname,jdbcType=VARCHAR}
				,
		#{score,jdbcType=VARCHAR}
				,
		#{preuserid,jdbcType=INTEGER}
				,
		#{preusername,jdbcType=VARCHAR}
				
	)
	</insert>

	<update id="update" parameterType="com.ognice.domain.Scorelog">
		update `scorelog`
		<set>
		<if test="id != null and id!=''">
		`id`= #{id,jdbcType=INTEGER},
		</if>
		<if test="projectid != null and projectid!=''">
		`projectid`= #{projectid,jdbcType=INTEGER},
		</if>
		<if test="projectname != null and projectname!=''">
		`projectname`= #{projectname,jdbcType=VARCHAR},
		</if>
		<if test="score != null and score!=''">
		`score`= #{score,jdbcType=VARCHAR},
		</if>
		<if test="preuserid != null and preuserid!=''">
		`preuserid`= #{preuserid,jdbcType=INTEGER},
		</if>
		<if test="preusername != null and preusername!=''">
		`preusername`= #{preusername,jdbcType=VARCHAR},
		</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

</mapper>