<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ognice.dao.YjslogMapper">
	<resultMap id="BaseResultMap" type="com.ognice.domain.Yjslog">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="projectid" property="projectid" jdbcType="INTEGER" />
		<result column="projectname" property="projectname" jdbcType="VARCHAR" />
		<result column="preuserid" property="preuserid" jdbcType="INTEGER" />
		<result column="preusername" property="preusername" jdbcType="VARCHAR" />
		<result column="desc" property="desc" jdbcType="VARCHAR" />
		<result column="aggree" property="aggree" jdbcType="INTEGER" />
		<result column="gyj" property="gyj" jdbcType="VARCHAR" />
		<result column="created" property="created" jdbcType="TIMESTAMP" />
		<result column="pszz" property="pszz" jdbcType="VARCHAR" />
		<result column="pszy" property="pszy" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		`id`
		,
		`projectid`
		,
		`projectname`
		,
		`preuserid`
		,
		`preusername`
		,
		`desc`
		,
		`aggree`
		,
		`gyj`
		,
		`created`
		,
		`pszz`
		,
		`pszy`
		
	</sql>
	<select id="selectYjslogById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from `yjslog` where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="page" parameterType="com.ognice.controller.common.PageSearchParam" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from `yjslog` where 1=1
		<if test="params!=null">
		<if test="params.id !=null ">
		AND `id` = #{params.id}
		</if>
		<if test="params.projectid !=null ">
		AND `projectid` = #{params.projectid}
		</if>
		<if test="params.projectname !=null and params.projectname!=''">
		 AND `projectname` like concat('%',#{params.projectname},'%')
		</if>
		<if test="params.preuserid !=null ">
		AND `preuserid` = #{params.preuserid}
		</if>
		<if test="params.preusername !=null and params.preusername!=''">
		 AND `preusername` like concat('%',#{params.preusername},'%')
		</if>
		<if test="params.desc !=null and params.desc!=''">
		 AND `desc` like concat('%',#{params.desc},'%')
		</if>
		<if test="params.aggree !=null ">
		AND `aggree` = #{params.aggree}
		</if>
		<if test="params.gyj !=null and params.gyj!=''">
		 AND `gyj` like concat('%',#{params.gyj},'%')
		</if>
		<if test="params.created !=null ">
		AND `created` = #{params.created}
		</if>
		<if test="params.pszz !=null and params.pszz!=''">
		 AND `pszz` like concat('%',#{params.pszz},'%')
		</if>
		<if test="params.pszy !=null and params.pszy!=''">
		 AND `pszy` like concat('%',#{params.pszy},'%')
		</if>
		</if>
		order by id desc
		<if test="page!=null"> limit #{page},#{pagesize}
		</if>
	</select>

	<delete id="delete" parameterType="java.lang.Integer"> delete from `yjslog` where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" useGeneratedKeys="true" keyProperty="id"  parameterType="com.ognice.domain.Yjslog"> insert into `yjslog` (
		`id`
				,
		`projectid`
				,
		`projectname`
				,
		`preuserid`
				,
		`preusername`
				,
		`desc`
				,
		`aggree`
				,
		`gyj`
				,
		`created`
				,
		`pszz`
				,
		`pszy`
				
	) values (
		#{id,jdbcType=INTEGER}
				,
		#{projectid,jdbcType=INTEGER}
				,
		#{projectname,jdbcType=VARCHAR}
				,
		#{preuserid,jdbcType=INTEGER}
				,
		#{preusername,jdbcType=VARCHAR}
				,
		#{desc,jdbcType=VARCHAR}
				,
		#{aggree,jdbcType=INTEGER}
				,
		#{gyj,jdbcType=VARCHAR}
				,
		#{created,jdbcType=TIMESTAMP}
				,
		#{pszz,jdbcType=VARCHAR}
				,
		#{pszy,jdbcType=VARCHAR}
				
	)
	</insert>

	<update id="update" parameterType="com.ognice.domain.Yjslog">
		update `yjslog`
		<set>
		<if test="id != null and id!=''">
		`id`= #{id,jdbcType=INTEGER},
		</if>
		<if test="projectid != null and projectid!=''">
		`projectid`= #{projectid,jdbcType=INTEGER},
		</if>
		<if test="projectname != null and projectname!=''">
		`projectname`= #{projectname,jdbcType=VARCHAR},
		</if>
		<if test="preuserid != null and preuserid!=''">
		`preuserid`= #{preuserid,jdbcType=INTEGER},
		</if>
		<if test="preusername != null and preusername!=''">
		`preusername`= #{preusername,jdbcType=VARCHAR},
		</if>
		<if test="desc != null and desc!=''">
		`desc`= #{desc,jdbcType=VARCHAR},
		</if>
		<if test="aggree != null and aggree!=''">
		`aggree`= #{aggree,jdbcType=INTEGER},
		</if>
		<if test="gyj != null and gyj!=''">
		`gyj`= #{gyj,jdbcType=VARCHAR},
		</if>
		<if test="created != null and created!=''">
		`created`= #{created,jdbcType=TIMESTAMP},
		</if>
		<if test="pszz != null and pszz!=''">
		`pszz`= #{pszz,jdbcType=VARCHAR},
		</if>
		<if test="pszy != null and pszy!=''">
		`pszy`= #{pszy,jdbcType=VARCHAR},
		</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

</mapper>